.section6{
    margin-left: 700px;
    margin-top: 100px;
    margin-bottom: 50px;
}
#section6{
    display: flex;
    margin-top: 50px;
    width: 700px;
    margin-left: -150px;
}
#section6_div1{
    flex: auto;
}
#section6_div2{
    flex: auto;
}
#section6_div3{
    flex: auto;
}
#section6_p_green, #section6_i, #cor{
    color: limegreen;
    margin-top: 10px;
}
#section6_p_green{
    margin-top: 20px;
}